@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --tw-bg-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(128 140 156 / var(--tw-bg-opacity));
  background: rgb(16 21 29 / var(--tw-bg-opacity));
  background-size: calc(14.2857142% - 1px) 100px;
  background-position: -60 0px;
  background-image: radial-gradient(circle, #2e3c51 2px, transparent 0);
  animation: dotScroll 16s linear infinite;
}
